.logo {
  display: inline-flex;
  justify-content: space-evenly;
  width: 28px;
  height: 28px;
  border-radius: 2px;
  background: #dee0e5;
}

.open-in-invision {
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0.1em;
  line-height: 28px;
  overflow: hidden;
  text-transform: uppercase;
  display: none;
}

.link:hover {
  text-decoration: none;
}

.resize + .link {
  margin-left: 12px;
}

.link:hover > .logo {
  background: #ee1f65;
  width: 144px;
}

.link:hover .open-in-invision {
  display: inline;
}
